<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.mangila.pokedex.scheduler" level="INFO"/>
    <logger name="com.github.mangila.pokedex.shared.cache" level="INFO"/>
    <logger name="com.github.mangila.pokedex.shared.database" level="INFO"/>
    <logger name="com.github.mangila.pokedex.shared.https" level="INFO"/>
    <logger name="com.github.mangila.pokedex.shared.json" level="INFO"/>
    <logger name="com.github.mangila.pokedex.shared.queue" level="INFO"/>
    <logger name="com.github.mangila.pokedex.shared.tls" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>